WHY WE DO THIS: most ML algo go dead encountering null values

In [1]:
import pandas as pd
from io import StringIO
#https://docs.python.org/2/library/stringio.html

csv_data = '''
A,B,C,D
1, 2, 3, 4
5, 6,,8
10, 11, 12
13, 14, 15, 16
'''
df = pd.read_csv(StringIO(csv_data))
df

    A   B     C     D
0   1   2   3.0   4.0
1   5   6   NaN   8.0
2  10  11  12.0   NaN
3  13  14  15.0  16.0

In [2]:
#isnull() to count 

(df.isnull().sum(axis = 0))

A    0
B    0
C    1
D    1
dtype: int64

OPTION 1 - CLEAN THE ROWS OR COLUMNS AS LONG AS HAVING >=1 NA VALUES

In [3]:
df.dropna(axis=0)

    A   B     C     D
0   1   2   3.0   4.0
3  13  14  15.0  16.0

In [4]:
df.dropna(axis=1)

    A   B
0   1   2
1   5   6
2  10  11
3  13  14

OPTION 1 - MAKE UP SOME VALUES
    -- Imput <br>
   
   .fit(): learning the model from the training set
   .transform(): apply this model a dataset

In [7]:
from sklearn.preprocessing import Imputer
imputer_mean = Imputer(missing_values= 'NaN', strategy = 'mean', axis = 0)
imputer_mean.fit(df)
imputed_df = imputer_mean.transform(df.values)
imputed_df

C:\Users\joshuang\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\utils\deprecation.py:58: DeprecationWarning: Class Imputer is deprecated; Imputer was deprecated in version 0.20 and will be removed in 0.22. Import impute.SimpleImputer from sklearn instead.
  warnings.warn(msg, category=DeprecationWarning)

array([[ 1.        ,  2.        ,  3.        ,  4.        ],
       [ 5.        ,  6.        , 10.        ,  8.        ],
       [10.        , 11.        , 12.        ,  9.33333333],
       [13.        , 14.        , 15.        , 16.        ]])