WHY WE DO THIS? - Because most ML algo cannot ingest non-numerical values<br>
Processing Categoricals <br>
Categoricals aka Discrete
 - Type 1, Ordinal (L > M > S)
 - Type 2, Nominal (green, blue)

In [1]:
import pandas as pd
df = pd.DataFrame([
    ['green', 'S', 10.1, 'shirt'],
    ['red', 'M', 12.1, 'pants'],
    ['blue', 'L', 23.5, 'shirt']
])

df.columns = ['color', 'size', 'price', 'type']
df

   color size  price   type
0  green    S   10.1  shirt
1    red    M   12.1  pants
2   blue    L   23.5  shirt

In [2]:
df['type']

0    shirt
1    pants
2    shirt
Name: type, dtype: object

In [3]:
from sklearn.preprocessing import LabelEncoder
class_1 = LabelEncoder()

df['type'] = class_1.fit_transform(df['type'].values)

In [5]:
df

   color size  price  type
0  green    S   10.1     1
1    red    M   12.1     0
2   blue    L   23.5     1

In [8]:
# use.inverse to convert back to categorical values

In [13]:
# Manually Define:

size_mapping = {'L': 5, 'M': 2, 'S':1}
df['size_num'] = df['size'].map(size_mapping)
df

   color size  price  type  size_num
0  green    S   10.1     1         1
1    red    M   12.1     0         2
2   blue    L   23.5     1         5

In [ ]:
# These numerical representation is bad
# because in nature 1 is closer to 3 than 100 
# so try use one-hot

In [32]:
from sklearn.preprocessing import OneHotEncoder
One_hot = OneHotEncoder()
color_1hot = One_hot.fit_transform(df[['color']])
color_1hot.toarray()

array([[0., 1., 0.],
       [0., 0., 1.],
       [1., 0., 0.]])