In [6]:
import pandas as pd
import numpy as np

In [3]:
s = pd.Series(list('abcd'))

In [4]:
s

0    a
1    b
2    c
3    d
dtype: object

In [7]:
s1 = ['a', 'b', np.nan]

In [8]:
s1

['a', 'b', nan]

In [9]:
pd.get_dummies(s)

   a  b  c  d
0  1  0  0  0
1  0  1  0  0
2  0  0  1  0
3  0  0  0  1

In [10]:
pd.get_dummies(s1, dummy_na = True)

   a  b  NaN
0  1  0    0
1  0  1    0
2  0  0    1